<div id="book_wrap">
  <div id="book_top"></div>

  <div id="book">
    <%= render 'shared/title' %>
    <h2 id="main_content" class="content">本書について</h2>
    <ul style="margin-left:30px; list-style-type: none; line-height: 25px;">
      <li>
	<p><em>本書は，<a href="http://ruby.railstutorial.org">Ruby on Rails Tutorial</a> の<a href="http://github.com/yasulab/railstutorial.jp">日本語訳</a>です．<br />
	    原著と同様に，オンライン版は無料で公開しています．<br />
	    本書が皆さんの Rails 学習の一助になれば幸いです．</em><br />
	  　　　　　　　　　<a href="#contributors">Rails Tutorial 翻訳グループ</a>一同</p>
      </li>
      <li><b>最近の進捗状況</b>: </br>
	<p>
	  　　− コラム<a href="#sidebar-rails_3_4">「Rails 3.2/4.0 のどっちから読み始めればいい？」</a>を追加しました．<br />
	  　　− <a href="?version=4.0">Rails 4.0 対応版</a> をリリースしました．<br />
	  　　− 右側のサイドバーで Rails 3.2/4.0 の切替えが出来るようになりました．<br />
	  　　− iPhone/Android などの<a href="https://www.facebook.com/photo.php?fbid=10151495525950869&set=pb.715330868.-2207520000.1372944937.&type=3&theater">モバイル端末からも閲覧</a>できるようになりました．<br />
	  　　今後も原著が更新され次第，随時こちらの日本語訳も更新していく予定です．<br />
	</p>
      </li>
      <li><b>ご協力のお願い</b>: </br>
	<p>
	  　　「○○に対応して欲しい！」などのご要望がありましたら<br />
	  　　<a href="http://twitter.com/yasulab">@yasulab</a> までお気軽にご連絡ください．
	</p>
      </li>
    </ul>

    <%= render "shared/#{@version}/contents" %>

    <div class="label" id="sidebar-rails_3_4"></div>
    <div class="sidebar">
      <span class="title">
	<span class="header">コラム</span>
	<span class="description">「Rails 3.2/4.0 のどっちから読み始めればいい？」</span>
      </span>
      <p>
	2013年8月の現時点では、Rails 3.2 と Rails 4.0 のどちらも、Rails コミュニティによって公式にサポートされています。したがって、「以前まで使われていた Rails&nbsp;3.2 と、最新版である Rails&nbsp;4.0 のどっちから読めば良いのか？」というのは自然な疑問です。
      </p>
      <p>
	結論から述べると、「どちらから読めば良いのか？」という疑問の答えは、あなたの今までの開発経験によって異なります。もし今まで Rails を使ったことがないのであれば、Rails 3.2 対応版から読み進めることをお勧めします。というのも、Rails&nbsp;4.0 はリリースされたばかりで、Rails&nbsp;4.0 のエコシステムがまだ少し不安定だからです。
      </p>
      <p>
	また、Rails チュートリアルにおける各バージョンの違いも、ほんの少ししかありません。具体的には、&ldquo;strong parameters&rdquo; と呼ばれる Rails&nbsp;4.0 の新機能の解説があるかどうかが、Rails チュートリアルの各バージョンの主な違いです。
      </p>
      <p>
	加えて、Rails&nbsp;4.0 への移行をより簡単にするために、本書には、<a class="ref" href="/chapters/supplement.html#top">第12章 (現在翻訳中)</a> と<a href="http://railstutorial.org/screencasts">スクリーンキャスト (英語)</a> が用意されています。これらの補足的な資料では、Strong Parameter やセキュリティ上の重要な更新などについて触れています。このため、まずは本書の Rails&nbsp;3.2 対応版を使って、Web アプリケーションの開発を学ぶことをお勧めします (その際、もし必要であれば、スクリーンキャストも使ってください)。その後、先ほど紹介した補足資料を使って、Rails&nbsp;3.2 と Rails&nbsp;4.0 との差分を学習してください。
      </p>
      <p>
	一方、もしあなたが Rails の開発経験を既に持っていて、かつ、
	Rails の最前線の状況を味わってみたいのであれば、
	是非 <a href="/chapters/beginning.html?version=4.0">Rails&nbsp;4.0 対応版</a>
	を読んでみてください。
	Rails&nbsp;4.0 対応版では、全編を通して Rails&nbsp;4.0 が使われています。なお、
	<a href="chapters/beginning.html?version=4.0#sidebar-diffs">Rails&nbsp;4.0 対応版のコラム&nbsp;1.1</a>
	では、Rails&nbsp;3.2 と Rails&nbsp;4.0 との違いをリスト形式でまとめています。
	ほぼ全ての違いが網羅的にまとめられているので、こちらも合わせてご活用ください。
      </p>  
    </div>

    <%= render "shared/#{@version}/contributors" %>
    <%= render "shared/#{@version}/license"      %>
    <%= render "shared/#{@version}/navigation"   %>

  </div>
  <div id="book_bottom"></div>
</div>
